:root{
    --width: 225px;
    --height: calc(var(--width) + calc(var(--width) * 0.3));
    --skin-color: #f4cfb4;
    --border-size: 3px;
    --bubbles-color: #53a7e7;
    
    position: relative;
}

body{
    margin: 0;
    background: #333;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 6em;
    /* margin-bottom: 6em */
}

.contenedor{
    width: var(--width); 
    height: var(--height);
    background: #2222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*//////////////////////////////// HEAD ///////////////////////////////////////////////*/

.head{
    width: 100%;
    height: 65%;
    border: var(--border-size) solid #000;
    border-radius: 50%;
    overflow: hidden;
    background: var(--skin-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 0 #0005;
    z-index: 5;
}

.hair{
    width: 100%;
    height: 40%;
    background: 
        radial-gradient(ellipse 175px 150px at 15% -25% , #fcdb04 50%, transparent 51%),
        radial-gradient(ellipse 175px 150px at 85% -25% , #fcdb04 50%, transparent 51%),
        radial-gradient(ellipse 175px 150px at 15% -25% , #000 52%, transparent 53%),
        radial-gradient(ellipse 175px 150px at 85% -25% , #000 52%, transparent 53%);
    position: absolute;
    z-index: 10;
}

.mouth{
    width: 6%;
    height: 8%;
    border-radius: 50%;
    border: var(--border-size) solid #000;
    clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
}

/*//////////////////////////////// ARMS ////////////////////////////////////////////////*/

.arms{
    --arm-height: calc(var(--height) * 0.22);
    position: absolute;
    width: var(--width);
    height: var(--arm-height);
    transform: translateY(calc(2 * var(--arm-height)));
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.arm{
    width: 40%;
    height: 35%;
    border-radius: 20px;
    border: var(--border-size) solid #000;
    background: var(--skin-color);
}

/*//////////////////////////////// BODY ///////////////////////////////////////////////*/

.body-container{
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: 
        drop-shadow(2px 0 0 #000)
        drop-shadow(-2px 0 0 #000)
        drop-shadow(0 -2px 0 #000)
        drop-shadow(0 2px 0 #000);
    transform: translateY(-5%);
    position: relative;
}

.body-container .body{
    width: 100%;
    height: 100%;
    clip-path: polygon(8% 0, 92% 0, 100% 100%, 0 100%);
    background: 
        linear-gradient(
            to bottom, 
            var(--bubbles-color) 0 27%, 
            #000 28% 71%, 
            var(--bubbles-color) 72% 100%);
    /* border: var(--border-size) solid #000; */

}

/*//////////////////////////////// LEGS ////////////////////////////////////////////////*/

.legs{
    width: 32%;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leg{
    width: 30px;
    height: 30px;
    background: #fff;
    box-shadow: 0 6px 0 #0005 inset;
    display: flex;
    border: 3px solid #000;
    position: relative;
    top: -3px;
}

.up{
    height: 90%;
    box-shadow: none;
    border-radius: 50%;
    transform: translate(5%, -40%);
}

.shoe{
    width: 120%;
    height: 100%;
    background: #000;
    border-radius: 0 0 50% 50%;
    position: absolute;
    transform: translate(-8.2%, 75%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sock{
    background: #fff;
    width: 45%;
    height: 40%;
    border-radius: 0 0 50% 50%;
    clip-path: polygon(0 25%, 100% 25%, 100% 100%, 0 100%);
}

.up .shoe{
    transform: translate(-10%, 25%);
    border-radius: 15% 15% 50% 50%;
}

/*//////////////////////////////// EYES ///////////////////////////////////////////////*/

.eyes{
    --gap: 10%;
    display: flex;
    justify-content: space-between;
    gap: 0 var(--gap);
    width: calc(var(--width)*1.2);
    height: calc(var(--width)*0.6);
    transform: translateY(10%);
}

.eye{
    width: calc(var(--width)*0.65);
    height: 100%;
    background: #fff;
    border-radius: 50%;
    border: var(--border-size) solid black;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.iris{
    background: var(--bubbles-color);
    width: 90%;
    height: 85%;
    border-radius: 50%;
    transform: translateX(calc(-1 * 15%));
    display: flex;
    align-items: center;
}

.pupil{
    width: 87%;
    height: 82%;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.shine{
    width: 34%;
    height: 32%;
    background: #fff;
    border-radius: 50%;
    transform: translateX(60%);
}

.left.eye{
    transform: scaleX(-1);
}