:root{
    --width: 225px;
    --height: calc(var(--width) + calc(var(--width) * 0.3));
    --skin-color: #f4cfb4;
    --border-size: 3px;
    --bubbles-color: #53a7e7;
}

body{
    margin: 0;
    background: #333;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 6em;
    /* margin-bottom: 6em */
}

.contenedor{
    width: var(--width); 
    height: var(--height);
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    width: 100%;
    height: 65%;
    border: var(--border-size) solid #000;
    border-radius: 50%;
    overflow: hidden;
    background: var(--skin-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 0 #0005;
    z-index: 5;
}

.hair{
    width: 100%;
    height: 40%;
    background: 
        radial-gradient(ellipse 175px 150px at 15% -25% , #fcdb04 50%, transparent 51%),
        radial-gradient(ellipse 175px 150px at 85% -25% , #fcdb04 50%, transparent 51%),
        radial-gradient(ellipse 175px 150px at 15% -25% , #000 52%, transparent 53%),
        radial-gradient(ellipse 175px 150px at 85% -25% , #000 52%, transparent 53%);
    position: absolute;
    z-index: 10;
}

.mouth{
    width: 6%;
    height: 8%;
    border-radius: 50%;
    border: var(--border-size) solid #000;
    clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
}

.body-container{
    width: 30%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: 
        drop-shadow(2px 0 0 #000)
        drop-shadow(-2px 0 0 #000)
        drop-shadow(0 -2px 0 #000)
        drop-shadow(0 2px 0 #000);
    transform: translateY(-5%);
}

.body-container .body{
    width: 100%;
    height: 100%;
    clip-path: polygon(8% 0, 92% 0, 100% 100%, 0 100%);
    background: 
        linear-gradient(
            to bottom, 
            var(--bubbles-color) 0 27%, 
            #000 28% 71%, 
            var(--bubbles-color) 72% 100%);
    /* border: var(--border-size) solid #000; */
}

.legs{
    
}

/* EYES */

.eyes{
    --gap: 10%;
    display: flex;
    justify-content: space-between;
    gap: 0 var(--gap);
    width: calc(var(--width)*1.2);
    height: calc(var(--width)*0.6);
    transform: translateY(10%);
}

.eye{
    width: calc(var(--width)*0.65);
    height: 100%;
    background: #fff;
    border-radius: 50%;
    border: var(--border-size) solid black;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.iris{
    background: var(--bubbles-color);
    width: 90%;
    height: 85%;
    border-radius: 50%;
    transform: translateX(calc(-1 * 15%));
    display: flex;
    align-items: center;
}

.pupil{
    width: 87%;
    height: 82%;
    background: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.shine{
    width: 34%;
    height: 32%;
    background: #fff;
    border-radius: 50%;
    transform: translateX(60%);
}

.left.eye{
    transform: scaleX(-1);
}
